ipython
jupyter
spyder
autopep8
black
certifi
flake8
mypy
mypy-extensions
pyflakes
pylint
pycodestyle
pycparser
pydocstyle
pywin32
pywinpty
cmake-language-server
cmake-format
pyls-black
pyls-isort
pyls-mypy
ptvsd
sphinx
debugpy
pyright
antlr4-python3-runtime
isbntools
epc
#pyqt6
#PyQt6-WebEngine
#PyGetWindow
tabulate
kaleido
pycse
plotly
numpy
seaborn
tqdm
pandas
matplotlib
scikit-learn
scipy
tables
sympy
mako
keyboard
sshkeyboard
requests
beautifulsoup4
pyparsing

