Babel
Jinja2
Mako
MarkupSafe
PyNaCl
PyQt5
PyQt5-Qt5
PyQt5-sip
PyQtWebEngine
PyQtWebEngine-Qt5
PySide6
PySide6-Addons
PySide6-Essentials
PyYAML
Pygments
QDarkStyle
QtAwesome
QtPy
Rtree
Send2Trash
Sphinx
alabaster
altgraph
antlr4-python3-runtime
anyio
argon2-cffi
argon2-cffi-bindings
arrow
astroid
asttokens
async-lru
atomicwrites
attrs
autopep8
bcrypt
beautifulsoup4
binaryornot
black
bleach
blessings
blosc2
breathe
cachetools
cattrs
certifi
cffi
chardet
charset-normalizer
click
cloudpickle
cmake-format
cmake-language-server
cmakelang
colorama
comm
commonmark
contourpy
cookiecutter
coverage
cryptography
cycler
debugpy
decorator
defusedxml
diff-match-patch
dill
distlib
docstring-to-markdown
docutils
epc
executing
fastjsonschema
filelock
flake8
fonttools
fqdn
idna
imagesize
importlib-metadata
inflection
iniconfig
intervaltree
ipykernel
ipython
ipywidgets
isbnlib
isbntools
isoduration
isort
jaraco.classes
jedi
jellyfish
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-widgets
jupyterlab_pygments
jupyterlab_server
kaleido
keyboard
keyring
kiwisolver
linkify-it-py
lsprotocol
lz4
mako
markdown-it-py
matplotlib
matplotlib-inline
mcap
mcap-protobuf-support
mccabe
mdit-py-plugins
mdurl
mistune
more-itertools
mpmath
msgpack
mypy
mypy-extensions
nbclient
nbconvert
nbformat
ndindex
nest-asyncio
nodeenv
nose2
notebook
notebook_shim
numdifftools
numexpr
numpy
numpydoc
opencv-python
overrides
packaging
pandas
pandocfilters
paramiko
parso
pathspec
pefile
pexpect
pickleshare
pillow
platformdirs
plotly
pluggy
prometheus-client
prompt-toolkit
protobuf
psutil
ptvsd
ptyprocess
pure-eval
py-cpuinfo
#py2exe
pyarrow
pycodestyle
pycparser
pycse
pydocstyle
pyflakes
pygls
pyinstaller
pyinstaller-hooks-contrib
pylint
pylint-venv
pyls-black
pyls-isort
#pyls-mypy
pyls-spyder
pyparsing
pyproject-api
pyright
pytest
pytest-benchmark
pytest-cov
pytest-randomly
python-dateutil
python-json-logger
python-jsonrpc-server
python-language-server
python-lsp-black
python-lsp-jsonrpc
python-lsp-server
python-slugify
pytoolconfig
#pytz
#pywin32
#pywin32-ctypes
#pywinpty
pyzmq
qstylizer
qtconsole
qtmodern
referencing
requests
responses
rfc3339-validator
rfc3986-validator
rich
rich-argparse
rich-rst
rope
rpds-py
scikit-image
scikit-learn
scipy
seaborn
sexpdata
shapely
shiboken6
six
sniffio
snowballstemmer
sortedcontainers
soupsieve
sphinx
sphinx-rtd-theme
sphinx_rtd_theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jquery
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
spyder
spyder-kernels
sshkeyboard
stack-data
sympy
tables
tabulate
tenacity
termcolor
terminado
text-unidecode
textdistance
textual
threadpoolctl
three-merge
tinycss2
toml
tomli
tomlkit
tornado
tox
tqdm
traitlets
types-python-dateutil
typing_extensions
tzdata
uc-micro-py
ujson
uri-template
urllib3
virtualenv
watchdog
wcwidth
webcolors
webencodings
websocket-client
whatthepatch
widgetsnbextension
yapf
zipp
zstandard

