#
# Psimacs
#

#
# Files
#
*.elc
*.pyc
*~
.cache
custom.el
init.el
tramp
_*/

#
# old not in use anymore
#
agenda/
latex/
org/
projects/
ToDo/

#
# exclude directories
#
config/
content/bibliography/auto/
content/bibliography/csl/
content/bibliography/notes/
content/bibliography/pdf/
content/latex/
content/org/agenda/
content/org/roam/
content/projects/
content/themes/
private/
server/
session/
site-lisp/else-pkg/
site-lisp/tools/py-tools/MS-Visual-Studio/DevEnv/__pycache__/

# https://stackoverflow.com/questions/987142/make-gitignore-ignore-everything-except-a-few-files
straight/*
!straight/versions
straight/versions/*
!straight/versions/default.el

work-lisp/
