#
# Psimacs
#

#
# Files
#
*.elc
*.pyc
*~
.cache
custom.el
init.el
tramp
_*/

#
# old not in use anymore
#
agenda/
latex/
org/
projects/
ToDo/

#
# exclude directories
#
config/
private/
server/
session/
site-lisp/else-pkg/
site-lisp/tools/py-tools/MS-Visual-Studio/DevEnv/__pycache__/

#
# We want to exclude all of content...
#
content/*

#
# ...but keep the helper org files
#
content/org/*
!content/org
!content/org/Bibliography.org

# https://stackoverflow.com/questions/987142/make-gitignore-ignore-everything-except-a-few-files
straight/*
!straight/versions
straight/versions/*
!straight/versions/default.el

work-lisp/
