#
# psimacs
#
*.elc
*.pyc
*~
.cache
custom.el
#init.html
_*/
agenda/
config/
latex/
org/
private/
ToDo/
site-lisp/else-pkg/
site-lisp/tools/py-tools/MS-Visual-Studio/DevEnv/__pycache__/

# https://stackoverflow.com/questions/987142/make-gitignore-ignore-everything-except-a-few-files
straight/*
!straight/versions
straight/versions/*
!straight/versions/default.el