alabaster
altgraph
antlr4-python3-runtime
anyio
argon2-cffi
argon2-cffi-bindings
arrow
astroid
asttokens
async-lru
atomicwrites
attrs
autopep8
Babel
bcrypt
beautifulsoup4
binaryornot
black
bleach
blessings
blinker
blosc2
breathe
cachetools
cattrs
certifi
cffi
chardet
charset-normalizer
click
cloudpickle
cmake-format
cmake-language-server
cmakelang
colorama
comm
commonmark
contourpy
cookiecutter
coverage
cryptography
cssselect
cycler
debugpy
decorator
defusedxml
Deprecated
diff-match-patch
dill
distlib
docstring-to-markdown
docutils
epc
executing
exif
fastjsonschema
feedparser
filelock
flake8
Flask
fonttools
fqdn
giturlparse
h11
httpcore
httpx
idna
imageio
imagesize
importlib_metadata
inflection
iniconfig
intervaltree
ipykernel
ipython
ipywidgets
isbnlib
isbntools
isoduration
isort
itsdangerous
jaraco.classes
jaraco.context
jaraco.functools
jedi
jeepney
jellyfish
Jinja2
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kaleido
keyboard
keyring
kiwisolver
lazy_loader
linkify-it-py
lsprotocol
lxml
lz4
Mako
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mcap
mcap-protobuf-support
mccabe
mdit-py-plugins
mdurl
mistune
more-itertools
mpmath
msgpack
mutagen
mypy
mypy-extensions
nbclients
nbconvert
nbformat
ndindex
nest-asyncio
networkx
nodeenv
nose2
notebook
notebook_shim
numdifftools
numexpr
numpy
numpydoc
opencv-python
ortools
overrides
packaging
pandas
pandocfilters
paramiko
parso
pathspec
pefile
pexpect
pickleshare
pillow
platformdirs
plotly
pluggy
plum-py
prometheus_client
prompt_toolkit
protobuf
psutil
ptvsd
ptyprocess
pulp
pure-eval
py-cpuinfo
pyarrow
pyasn1
pycodestyle
pycparser
pycryptodome
pycse
pycurl
pydocstyle
pyflakes
pygit2
pygls
Pygments
pyinstaller
pyinstaller-hooks-contrib
pylint
pylint-venv
pyls-black
pyls-isort
pyls-spyder
PyMuPDF
PyMuPDFb
PyNaCl
pyparsing
pypinyin
pyproject-api
PyQt5
PyQt5-Qt5
PyQt5-sip
PyQt6
PyQt6-Qt6
PyQt6-sip
PyQt6-WebEngine
PyQt6-WebEngine-Qt6
PyQtWebEngine
PyQtWebEngine-Qt5
pyquery
pyright
PySide6
PySide6_Addons
PySide6_Essentials
PySocks
pytaglib
pyte
pytest
pytest-benchmark
pytest-cov
pytest-randomly
python-dateutil
python-json-logger
python-jsonrpc-server
python-language-server
python-lsp-black
python-lsp-jsonrpc
python-lsp-server
python-slugify
python_tsp
pytoolconfig
pytz
pyxdg
PyYAML
pyzmq
QDarkStyle
qstylizer
QtAwesome
qtconsole
qtmodern
QtPy
referencing
requests
responses
retrying
rfc3339-validator
rfc3986-validator
rich
rich-argparse
rich-rst
rope
rpds-py
rsa
Rtree
scikit-image
scikit-learn
scipy
seaborn
SecretStorage
Send2Trash
setuptools
sexpdata
sgmllib3k
shapely
shiboken6
six
sniffio
snowballstemmer
sortedcontainers
soupsieve
sqlalchemy
Sphinx
sphinx-rtd-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jquery
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
spyder
spyder-kernels
sshkeyboard
stack-data
sympy
tables
tabulate
tenacity
termcolor
terminado
text-unidecode
textdistance
textual
threadpoolctl
three-merge
tifffile
tinycss2
tld
toml
tomli
tomlkit
tornado
tox
tqdm
traitlets
tsplib95
types-python-dateutil
typing_extensions
tzdata
uc-micro-py
ujson
unidiff
uri-template
urllib3
virtualenv
watchdog
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
whatthepatch
widgetsnbextension
wrapt
wurlitzer
yapf
zipp
zstandard
