base
base-devel
filesystem
gcc
liblzo2
lzop
man-db
mingw-w64-ucrt-x86_64-tree-sitter
mingw-w64-ucrt-x86_64-winpty
mingw-w64-x86_64-7zip
mingw-w64-x86_64-antlr4-runtime-cpp
mingw-w64-x86_64-asciidoc
mingw-w64-x86_64-asciidoctor
mingw-w64-x86_64-asio
mingw-w64-x86_64-aspell-de
mingw-w64-x86_64-aspell-en
mingw-w64-x86_64-astyle
mingw-w64-x86_64-boost
mingw-w64-x86_64-clang-analyzer
mingw-w64-x86_64-clang-tools-extra
mingw-w64-x86_64-cmake
mingw-w64-x86_64-cmake-docs
mingw-w64-x86_64-doxygen
mingw-w64-x86_64-emacs
mingw-w64-x86_64-emacs-pdf-tools-server
mingw-w64-x86_64-fd
mingw-w64-x86_64-ffmpeg
mingw-w64-x86_64-gcc-ada
mingw-w64-x86_64-gcc-fortran
mingw-w64-x86_64-gcc-libgfortran
mingw-w64-x86_64-gcc-objc
mingw-w64-x86_64-gdb
mingw-w64-x86_64-gdb-multiarch
mingw-w64-x86_64-ghostscript
mingw-w64-x86_64-giflib
mingw-w64-x86_64-graphviz
mingw-w64-x86_64-graphviz-docs
mingw-w64-x86_64-grep
mingw-w64-x86_64-hugo
mingw-w64-x86_64-hunspell
mingw-w64-x86_64-hyphen
mingw-w64-x86_64-hyphen-en
mingw-w64-x86_64-iconv
mingw-w64-x86_64-imagemagick
mingw-w64-x86_64-imagemagick-docs
mingw-w64-x86_64-libjpeg-turbo
mingw-w64-x86_64-libmangle-git
mingw-w64-x86_64-librsvg
mingw-w64-x86_64-make
mingw-w64-x86_64-nodejs
mingw-w64-x86_64-openexr
mingw-w64-x86_64-otf-aurulent-nerd
mingw-w64-x86_64-otf-codenewroman-nerd
mingw-w64-x86_64-otf-comicshanns-nerd
mingw-w64-x86_64-otf-droid-nerd
mingw-w64-x86_64-otf-firamono-nerd
mingw-w64-x86_64-otf-hasklig-nerd
mingw-w64-x86_64-otf-hermit-nerd
mingw-w64-x86_64-otf-opendyslexic-nerd
mingw-w64-x86_64-otf-overpass-nerd
mingw-w64-x86_64-putty
mingw-w64-x86_64-ripgrep
mingw-w64-x86_64-scite
mingw-w64-x86_64-scite-defaults
mingw-w64-x86_64-texlive-bibtex-extra
mingw-w64-x86_64-texlive-core
mingw-w64-x86_64-texlive-extra-utils
mingw-w64-x86_64-texlive-font-utils
mingw-w64-x86_64-texlive-fonts-extra
mingw-w64-x86_64-texlive-fonts-recommended
mingw-w64-x86_64-texlive-formats-extra
mingw-w64-x86_64-texlive-games
mingw-w64-x86_64-texlive-humanities
mingw-w64-x86_64-texlive-lang-arabic
mingw-w64-x86_64-texlive-lang-chinese
mingw-w64-x86_64-texlive-lang-cjk
mingw-w64-x86_64-texlive-lang-cyrillic
mingw-w64-x86_64-texlive-lang-czechslovak
mingw-w64-x86_64-texlive-lang-english
mingw-w64-x86_64-texlive-lang-european
mingw-w64-x86_64-texlive-lang-french
mingw-w64-x86_64-texlive-lang-german
mingw-w64-x86_64-texlive-lang-greek
mingw-w64-x86_64-texlive-lang-italian
mingw-w64-x86_64-texlive-lang-japanese
mingw-w64-x86_64-texlive-lang-korean
mingw-w64-x86_64-texlive-lang-other
mingw-w64-x86_64-texlive-lang-polish
mingw-w64-x86_64-texlive-lang-portuguese
mingw-w64-x86_64-texlive-lang-spanish
mingw-w64-x86_64-texlive-latex-extra
mingw-w64-x86_64-texlive-latex-recommended
mingw-w64-x86_64-texlive-luatex
mingw-w64-x86_64-texlive-metapost
mingw-w64-x86_64-texlive-music
mingw-w64-x86_64-texlive-pictures
mingw-w64-x86_64-texlive-plain-generic
mingw-w64-x86_64-texlive-pstricks
mingw-w64-x86_64-texlive-publishers
mingw-w64-x86_64-texlive-science
mingw-w64-x86_64-tools-git
mingw-w64-x86_64-ttf-3270-nerd
mingw-w64-x86_64-ttf-agave-nerd
mingw-w64-x86_64-ttf-anonymouspro-nerd
mingw-w64-x86_64-ttf-arimo-nerd
mingw-w64-x86_64-ttf-bigblueterminal-nerd
mingw-w64-x86_64-ttf-bitstream-vera-mono-nerd
mingw-w64-x86_64-ttf-cascadia-code-nerd
mingw-w64-x86_64-ttf-cousine-nerd
mingw-w64-x86_64-ttf-daddytime-mono-nerd
mingw-w64-x86_64-ttf-dejavu-nerd
mingw-w64-x86_64-ttf-envy-code-r-nerd
mingw-w64-x86_64-ttf-fantasque-nerd
mingw-w64-x86_64-ttf-firacode-nerd
mingw-w64-x86_64-ttf-go-nerd
mingw-w64-x86_64-ttf-gohu-nerd
mingw-w64-x86_64-ttf-hack-nerd
mingw-w64-x86_64-ttf-heavydata-nerd
mingw-w64-x86_64-ttf-iawriter-nerd
mingw-w64-x86_64-ttf-ibmplex-mono-nerd
mingw-w64-x86_64-ttf-inconsolata-go-nerd
mingw-w64-x86_64-ttf-inconsolata-lgc-nerd
mingw-w64-x86_64-ttf-inconsolata-nerd
mingw-w64-x86_64-ttf-iosevka-nerd
mingw-w64-x86_64-ttf-iosevkaterm-nerd
mingw-w64-x86_64-ttf-jetbrains-mono-nerd
mingw-w64-x86_64-ttf-lekton-nerd
mingw-w64-x86_64-ttf-liberation-mono-nerd
mingw-w64-x86_64-ttf-lilex-nerd
mingw-w64-x86_64-ttf-meslo-nerd
mingw-w64-x86_64-ttf-monofur-nerd
mingw-w64-x86_64-ttf-monoid-nerd
mingw-w64-x86_64-ttf-mononoki-nerd
mingw-w64-x86_64-ttf-mplus-nerd
mingw-w64-x86_64-ttf-noto-nerd
mingw-w64-x86_64-ttf-profont-nerd
mingw-w64-x86_64-ttf-proggyclean-nerd
mingw-w64-x86_64-ttf-roboto-mono-nerd
mingw-w64-x86_64-ttf-sharetech-mono-nerd
mingw-w64-x86_64-ttf-sourcecodepro-nerd
mingw-w64-x86_64-ttf-space-mono-nerd
mingw-w64-x86_64-ttf-terminus-nerd
mingw-w64-x86_64-ttf-tinos-nerd
mingw-w64-x86_64-ttf-ubuntu-mono-nerd
mingw-w64-x86_64-ttf-ubuntu-nerd
mingw-w64-x86_64-ttf-victor-mono-nerd
mingw-w64-x86_64-wget2
mingw-w64-x86_64-winpty
mingw-w64-x86_64-winstorecompat-git
mingw-w64-x86_64-zeromq
msys2-runtime
p7zip
unzip
winpty
zip
