base
base-devel
filesystem
fish
gcc
liblzo2
lzop
man-db
mc
mingw-w64-clang-x86_64-ttf-0xproto-nerd
mingw-w64-clang-x86_64-ttf-sourcecodepro-nerd
mingw-w64-x86_64-7zip
mingw-w64-x86_64-antlr4-runtime-cpp
mingw-w64-x86_64-asciidoc
mingw-w64-x86_64-asciidoctor
mingw-w64-x86_64-asio
mingw-w64-x86_64-aspell-de
mingw-w64-x86_64-aspell-en
mingw-w64-x86_64-astyle
mingw-w64-x86_64-bat
mingw-w64-x86_64-boost
mingw-w64-x86_64-bottom
mingw-w64-x86_64-ccmake
mingw-w64-x86_64-clang-analyzer
mingw-w64-x86_64-clang-tools-extra
mingw-w64-x86_64-cmake
mingw-w64-x86_64-cmake-cmcldeps
mingw-w64-x86_64-cmake-docs
mingw-w64-x86_64-cmake-gui
mingw-w64-x86_64-doxygen
mingw-w64-x86_64-dust
mingw-w64-x86_64-emacs
mingw-w64-x86_64-emacs-pdf-tools-server
mingw-w64-x86_64-eza
mingw-w64-x86_64-fd
mingw-w64-x86_64-ffmpeg
mingw-w64-x86_64-fzf
mingw-w64-x86_64-gcc-ada
mingw-w64-x86_64-gcc-fortran
mingw-w64-x86_64-gcc-libgfortran
mingw-w64-x86_64-gcc-objc
mingw-w64-x86_64-gdb
mingw-w64-x86_64-gdb-multiarch
mingw-w64-x86_64-ghostscript
mingw-w64-x86_64-giflib
mingw-w64-x86_64-graphviz
mingw-w64-x86_64-graphviz-docs
mingw-w64-x86_64-grep
mingw-w64-x86_64-hugo
mingw-w64-x86_64-hunspell
mingw-w64-x86_64-hyphen
mingw-w64-x86_64-hyphen-en
mingw-w64-x86_64-iconv
mingw-w64-x86_64-imagemagick
mingw-w64-x86_64-imagemagick-docs
mingw-w64-x86_64-kdiff3
mingw-w64-x86_64-libjpeg-turbo
mingw-w64-x86_64-libmangle
mingw-w64-x86_64-librsvg
mingw-w64-x86_64-lsd
mingw-w64-x86_64-make
mingw-w64-x86_64-meld3
mingw-w64-x86_64-nodejs
mingw-w64-x86_64-openexr
mingw-w64-x86_64-putty
mingw-w64-x86_64-ripgrep
mingw-w64-x86_64-rust
mingw-w64-x86_64-texlive-bibtex-extra
mingw-w64-x86_64-texlive-core
mingw-w64-x86_64-texlive-extra-utils
mingw-w64-x86_64-texlive-font-utils
mingw-w64-x86_64-texlive-fonts-extra
mingw-w64-x86_64-texlive-fonts-recommended
mingw-w64-x86_64-texlive-formats-extra
mingw-w64-x86_64-texlive-games
mingw-w64-x86_64-texlive-humanities
mingw-w64-x86_64-texlive-lang-arabic
mingw-w64-x86_64-texlive-lang-chinese
mingw-w64-x86_64-texlive-lang-cjk
mingw-w64-x86_64-texlive-lang-cyrillic
mingw-w64-x86_64-texlive-lang-czechslovak
mingw-w64-x86_64-texlive-lang-english
mingw-w64-x86_64-texlive-lang-european
mingw-w64-x86_64-texlive-lang-french
mingw-w64-x86_64-texlive-lang-german
mingw-w64-x86_64-texlive-lang-greek
mingw-w64-x86_64-texlive-lang-italian
mingw-w64-x86_64-texlive-lang-japanese
mingw-w64-x86_64-texlive-lang-korean
mingw-w64-x86_64-texlive-lang-other
mingw-w64-x86_64-texlive-lang-polish
mingw-w64-x86_64-texlive-lang-portuguese
mingw-w64-x86_64-texlive-lang-spanish
mingw-w64-x86_64-texlive-latex-extra
mingw-w64-x86_64-texlive-latex-recommended
mingw-w64-x86_64-texlive-luatex
mingw-w64-x86_64-texlive-metapost
mingw-w64-x86_64-texlive-music
mingw-w64-x86_64-texlive-pictures
mingw-w64-x86_64-texlive-plain-generic
mingw-w64-x86_64-texlive-pstricks
mingw-w64-x86_64-texlive-publishers
mingw-w64-x86_64-texlive-science
mingw-w64-x86_64-tools
mingw-w64-x86_64-ttf-0xproto-nerd
mingw-w64-x86_64-ttf-firacode-nerd
mingw-w64-x86_64-ttf-hack-nerd
mingw-w64-x86_64-ttf-inconsolata-nerd
mingw-w64-x86_64-ttf-sourcecodepro-nerd
mingw-w64-x86_64-wget2
mingw-w64-x86_64-winpty
mingw-w64-x86_64-winstorecompat
mingw-w64-x86_64-zeromq
msys2-runtime
openssh
p7zip
unzip
vim
w3m
zip
zsh
