ipython
jupyter
spyder
autopep8
black
certifi
flake8
mypy
mypy-extensions
pyflakes
pylint
pycodestyle
pycparser
pydocstyle
pywin32
pywinpty
cmake-language-server
cmake-format
pyls-black
pyls-isort
pyls-mypy
ptvsd
sphinx
debugpy
antlr4-python3-runtime
isbntools
epc
#pyqt6
#PyQt6-WebEngine
#PyGetWindow

